$family-sans-serif: Noto Sans, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$code: $primary
$title-weight: 300
$navbar-background-color: $background
$navbar-item-hover-background-color: $background
$navbar-item-hover-color: $secondary
